html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.params {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #eeeeee;
    border-radius: 6px;
}

    .params input {
        display: inline;
        width: 200px;
        height: 30px;
    }