@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-primary" role="button" href='@Url.Action("SignIn", "Home")'>Sign In</a></p>
</div>
